<h1><%= @user.name %></h1>
<h3 class="h3">Bio</h3>
<p id="bio"><%= @user.bio %></p>

<h3>Comments:</h3>
<ul class="comments">
  <% @user.comments.each do |c| %>
  <li>
  <%= c.content %> <br>
  -<%= c.username %>
  </li>
  <% end %>
</ul>

<%= form_for [@user, Comment.new] do |a| %>
  <%= a.text_area :content, placeholder: 'Comments' %>
  <%= a.submit %>
<% end %>

<h3 class="h3">Following:</h3>
<ul class="favs">
  <% @user.following.each do |f| %>
  <li> <%= link_to(f.name, user_path(f.id)) %> </li>
  <% end %>
</ul>

<div class="tools">
<% if @user.id === current_user.id %>
<%= link_to('Edit Your Page', edit_user_path) %> <br>
<%= link_to('Delete Your Account', @user, method: :delete, data: {confirm: 'Are you certain?'}) %><br>
<%= link_to('Logout', logout_path, method: 'delete') %> <br>
<% end %>
<%= link_to('See the Others', users_path) %>
<% if current_user_is_following(current_user.id, @user.id) %>
    <%= link_to('Following', unfollow_path) %>
 <% else %>
    <%= link_to('Follow', follow_path) %>
  <% end %>
</div>
